@charset "utf-8";

body{
        /* background: rgb(187, 255, 0); */
        background: url("../images/桜.jpg");
}
h1{
    font-size: 80px;
    color:gray;
}

p{
    font-size: 80px;
    color: gray;
}
.black{
    color:black ;
}
.rounded{
    border-radius:50%;
    opacity:0.8;
}

